*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#0d1117;
color:white;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 80px;
background:#111827;
}

.logo{
font-size:30px;
font-weight:bold;
color:#FFD700;
}

nav a{
color:white;
text-decoration:none;
margin-left:20px;
font-size:18px;
}

nav a:hover{
color:#FFD700;
}

.hero{
display:flex;
justify-content:space-between;
align-items:center;
padding:80px;
}

.left{
width:50%;
}

.left h1{
font-size:60px;
color:#FFD700;
}

.left h2{
margin-top:10px;
font-size:35px;
}

.left p{
margin-top:20px;
font-size:20px;
line-height:35px;
}

.left h3{
margin-top:30px;
font-size:30px;
color:#00ff99;
}

.btn{
display:inline-block;
margin-top:30px;
padding:15px 40px;
background:#FFD700;
color:black;
text-decoration:none;
font-size:20px;
font-weight:bold;
border-radius:10px;
}

.btn:hover{
background:white;
}

.right img{
width:350px;
border-radius:20px;
border:4px solid gold;
}

.features{
display:flex;
justify-content:center;
gap:30px;
padding:60px;
}

.card{
background:#161b22;
padding:30px;
border-radius:15px;
width:250px;
text-align:center;
border:1px solid gold;
}

.card h2{
color:#FFD700;
margin-bottom:15px;
}

footer{
text-align:center;
padding:25px;
background:#111827;
margin-top:50px;
}
